<form action="/records" method="POST">


  <div class="form-group row col-md-12 container">
    <label for="staticEmail" class="col-md-4 col-form-label text-right">*必填欄位</label>
    {{> messages}}
    <input type="text" readonly class="form-control-plaintext col-md-4 text-center" id="staticEmail" value="請輸入你的支出">
    <div class="col-md-4"></div>
  </div>

  <div class="form-group container row text-right col-md-12">
    <label for="inputPassword" class="col-md-4 col-form-label">名稱* :</label>

    <input type="text" class="form-control col-md-4" name="name" id="inputPassword">

    <div class="container col-md-4"></div>
  </div>

  <div class="form-group container row text-right col-md-12">
    <label for="inputPassword" class="col-md-4 col-form-label">店名、商家 :</label>

    <input type="text" class="form-control col-md-4" name="merchant" id="inputPassword">

    <div class="container col-md-4"></div>
  </div>



  <div class="input-group container row col-md-12 form-group date" id="datetimepicker4" data-target-input="nearest">
    <label for="select_date" class="col-md-4 text-right">日期* :</label>
    <input type="text" class="form-control datetimepicker-input col-md-4" name="date" data-target="#datetimepicker4"
      id="select_date" />
    <div class="input-group-append" data-target="#datetimepicker4" data-toggle="datetimepicker">
      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
      <script type="text/javascript">
        $(function () {
          $('#datetimepicker4').datetimepicker({
            format: 'L'
          })
        })
      </script>
    </div>

    <div class="col-md-4"></div>
  </div>



  <div class="container col-md-12 form-group row">

    <label for="exampleFormControlSelect1" class="col-md-4 col-form-label text-right">類別* :</label>
    <select class="form-control col-md-4" id="exampleFormControlSelect1" name="category">
      <option>家居物業</option>
      <option>交通出行</option>
      <option>休閒娛樂</option>
      <option>餐飲食品</option>
      <option>其他</option>
    </select>
    <div class="col-md-4"></div>

  </div>

  <div class="form-group container row text-right col-md-12">
    <label for="inputPassword" class="col-md-4 col-form-label">金額* :</label>

    <input type="text" class="form-control col-md-4" name="amount" id="inputPassword">

    <div class="container col-md-4"></div>
  </div>

  <div class="container text-center col-md-12">
    <button type="submit" class="col-md-4">新增支出</button>
  </div>

</form>